.App {
  text-align: center;
}

.babyName {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
}

.babyName.m {
  background: black;
  color: white;
}
.babyName.f {
  background: gray;
}

.babyNamesList {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
